<%= form_for @user do |form| %>
  <div>
    <%= form.label :avatar, "Upload Profile Photo" %>
    <%= form.file_field :avatar %>
  </div>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :trash_talk, "Talk some trash for all to see" %>
    <%= form.text_area :trash_talk %>
  </div>

  <%= form.submit %>
<% end %>

<%= link_to "Go Back", user_path(@user), method: :get %>