<% @games.each do |game| %>
  <div>
    <div class="game_matchup" data-game-id=<%= game.id %>>
      <% pick_away = Result.find_by(game_id: game.id, winner: game.away_team_id) %>
      <% pick_home = Result.find_by(game_id: game.id, winner: game.home_team_id) %>
      <span class="pick_team <%= 'selected_team_class' if pick_away.present? %>" id="away_team_pick" data-team-id=<%= game.away_team_id %>>
        <%= Team.find(game.away_team_id).name %>  
      </span>
      vs. 
      <span class="pick_team <%= 'selected_team_class' if pick_home.present? %>" id="home_team_pick" data-team-id=<%= game.home_team_id %>>
        <%= Team.find(game.home_team_id).name %> 
      </span>
      <span class="tie">Tie</span>
      <span class="clear_pick">X</span>
    </div>
    <div class="game_details">
      <span class="game_start_time" data-timenow="<%= DateTime.now %>" data-gametime-start="<%= game.gametime_start %>"><%= game.gametime_start.strftime("%m/%d at %I:%M%p") %></span>
      <span>@ <%= Team.find(game.home_team_id).city %></span>
    </div>
  </div>
<% end %>

<script>
  $(".pick_team").click(function(){
      var selectedTeam = $(this).data("team-id"),
          losingTeam = $(this).siblings(".pick_team").data("team-id"),
          gameMatchup = $(this).parent(".game_matchup"),
          gameMatchup_id = gameMatchup.data("game-id")
          game_details = gameMatchup.siblings(".game_details"),
          gameTimeDetails = game_details.find(".game_start_time"),
          gameStartTime = gameTimeDetails.data("gametime-start"),
          timeNow = gameTimeDetails.data("timenow");

      $.ajax({
        type: "POST",
        url: "results/set_game_results.json",
        data: {
          selected_team: selectedTeam,
          losing_team: losingTeam,
          game_matchup_id: gameMatchup_id
        },
        success: function(json){
          var game = $(".game_matchup[data-game-id=" + json.game + "]"),
              team = game.find(".pick_team[data-team-id=" + json.team + "]");

          team.siblings(".pick_team").removeClass("selected_team_class");
          team.addClass("selected_team_class");    
        },
        error:function(){
          alert("Sorry, your pick is void. The game already started");
        }
      });  
  });

  $(".tie").click(function(){
    $(this).css("color", "red");
    
  });

  $(".clear_pick").click(function(){
    var gameMatchup = $(this).parent(".game_matchup"),
        gameMatchup_id = gameMatchup.data("game-id")
        game_details = gameMatchup.siblings(".game_details"),
        gameTimeDetails = game_details.find(".game_start_time"),
        gameStartTime = gameTimeDetails.data("gametime-start"),
        timeNow = gameTimeDetails.data("timenow");

    $.ajax({
        type: "POST",
        url: "results/clear_result.json",
        data: {
          game_matchup_id: gameMatchup_id
        },
        success: function(json){
          var game = $(".game_matchup[data-game-id=" + json.game + "]")

          game.find(".pick_team").removeClass("selected_team_class");
        },
        error:function(){
          alert("Sorry, you cannot clear your pick. The game already started");
        }
      });  
  });
</script>