<h2>RESULTS:</h2>
<h3>Admin view only......</h3>

<% @weeks.each do |week| %>
  <span class="week_number_select" data-week=<%= week.id %>><%= week.week_number %></span>
<% end %>

<div>
  <%= link_to "Create a Game", new_game_path %>
</div>

<h2>Week <%= @week.week_number %> Games:</h2>

<div id="games_this_week">
  <%= render partial: "results_per_week" %>
</div>

<script>
  $( document ).ready(function() {
    $(".week_number_select").click(function(){
      var week = $(this).data("week"),
          display = "results";

      $.ajax({
        type: "GET",
        url: "games/show_games_week",
        data: {
          display: display,
          week_number: week
        },
        success: function(partial){
          $("#games_this_week").empty().html(partial); 
        },
        error:function(){
          alert("Error");
        }
      });
    })
  });  
</script>