<% @weeks.each do |week| %>
  <span class="week_number_select" data-week=<%= week.week_number %>><%= week.week_number %></span>
<% end %>

<div>
  <%= link_to "Create a Game", new_game_path %>
</div>

<h2>Week <%= @week %> Games:</h2>

<div id="games_this_week">
  <%= render partial: "games_this_week" %>
</div>

<script>
  $( document ).ready(function() {
    $(".week_number_select").click(function(){
      var week = $(this).data("week");

      $.ajax({
        type: "GET",
        url: "games/show_games_week",
        data: {
          week_number: week
        },
        success: function(partial){
          console.log(partial.games);
          $("#games_this_week").empty().html(partial); 
        },
        error:function(){
          alert("Error");
        }
      });
    })
  });  
</script>