<!DOCTYPE html>
<html>
<head>
  <title>PickemApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Pick'em League</h1>

<% if signed_in? %>
	<span>Hello <%= current_user.username %></span>
	<span><%= button_to "Sign out", session_path, method: :delete %></span>
<% end %>

<%= yield %>

</body>
</html>
